plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/home/ubuntu/englishwater-static/dist/public"
publishOrigin = "ui"
commandOrigin = "ui"
command = "pnpm run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]