---
layout: layouts/base.njk
pagination:
  data: locations
  size: 1
  alias: location
permalink: "{{ location.url }}"
title: "{{ location.title }} | English Water"
---
{{ location.main_html | safe }}
